.btn {
    &, //this is just btn
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block; /* is treated as text so text-align in text box works for this */
        border-radius: 10rem;
        transition: all .2s; /* this applies to the hover and active - 
                    set transition on inital state to apply to other states */
        position: relative; /* for pseudo element after positoning*/
        font-size: $default-font-size;

        //change for the <button> element
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0; /* will fade out cf transition to this set on initial state btn::after*/
        }
    
    }

    &:active,
    &:focus { //resylt the button focus from that default blue outline
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2); /* loase a bit of shadow and blur on depressing button */
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    /* this is hidden behind the button - see hover::after for making visible*/
    &::after {
        content: ""; /* have to specify this and display */
        display: inline-block;
        height: 100%; /* of the btn height/width*/
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--animated {
        animation: moveInBottom 1s ease-out .75s;
        animation-fill-mode: backwards; /* will apply 0% styles before animation starts if have delay */
    }
}

.btn-text {
    &:link,
    &:visited {
        color: $color-primary;
        font-size: $default-font-size;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}
