.composition {

    position: relative;

    &__photo {
        width: 55%; //width of imgs should be in % for scaling
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .3s;
        outline-offset: 1rem;

        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            right: 0;
            top: 2rem;
        }

        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            outline: .5rem solid $color-primary-light;
            transform: scale(1.05) translateY(-2rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5); //bigger shadow cos closer
            z-index: 15; //higher z index so is at front
        }
    }

    &:hover &__photo:not(:hover) { //when hover on composition select photo which is not hovered
        transform: scale(0.9);
    }
}